/* Body styling */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url('https://img.freepik.com/free-photo/digital-art-dark-cosmic-night-sky_23-2151700776.jpg?ga=GA1.1.593529435.1710949275&semt=ais_hybrid');
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Header styling */
h1 {
  font-size: 2.5rem;
  color: #fff;
}

/* Main container styling */
.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.container-currentWeather,
.container-forecast {
  margin-top: 20px;
}
